PG_DATASOURCE_URL=jdbc:mysql://localhost:3306/pg_db?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
PG_DATASOURCE_USERNAME=root
PG_DATASOURCE_PASSWORD=1234
PG_DATASOURCE_DRIVER=com.mysql.cj.jdbc.Driver
PG_CARD_AUTH_CONNECT_TIMEOUT_MS=1000
PG_CARD_AUTH_READ_TIMEOUT_MS=3000
PG_CARD_AUTH_RETRY_MAX_ATTEMPTS=2
PG_CARD_AUTH_CIRCUIT_BREAKER_SLIDING_WINDOW_SIZE=3
PG_CARD_AUTH_CIRCUIT_BREAKER_MINIMUM_NUMBER_OF_CALLS=3
PG_CARD_AUTH_CIRCUIT_BREAKER_FAILURE_RATE_THRESHOLD=100
PG_CARD_AUTH_CIRCUIT_BREAKER_WAIT_DURATION_IN_OPEN_STATE=10s
PG_CARD_AUTH_CIRCUIT_BREAKER_PERMITTED_CALLS_IN_HALF_OPEN=1
